.footer {
    text-align: center;
    background-color: white;
    color: var(--color-sidebar);
    padding: 1em;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.15);
    font-weight: 600;
    font-size: 15px;
}

.footer a{
    text-decoration: none;
    color: var(--color-sidebar);
}

