.sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: first baseline;
    background-color: var(--color-sidebar);
    padding: 5em 0;
    filter: drop-shadow(4px 4px 8px rgba(0, 0, 0, 0.15));
}

.sidebar__avatar {
    width: 150px;
    border-radius: 100%;
    margin: 2em 0;
}

.sidebar h2 a {
    line-height: 20px;
    color: white;
    text-decoration: none;
}

.sidebar__links {
    display: flex;
    flex-direction: column;
}

.sidebar__links a {
    font-weight: 400;
    font-size: 18px;
    line-height: 2em;
    color: white;
    text-decoration: none;
    margin: 1em 0;
    background-color: var(--color-highlight);
    border-radius: 2em;
    padding: 10px 20px;
    text-align: center;
}

.sidebar__links i {
    margin-right: 0.5em;
}

.sidebar__links a:first-of-type {
    color: var(--color-highlight);
    background-color: white;
    font-weight: 600;
}

.sidebar__line {
    margin: 2em 0;
    width: 80%;
}

@media only screen and (max-width: 991px) {
    .sidebar {
        display: none;
        visibility: hidden;
    }


}